.menu {
    height: 15%;
    background-image: url('./../../assets/fond_menu.avif') !important;
    background-size: cover; 
    background-repeat: no-repeat;
}

.fas {
    width: 5Opx;
}

.page {
    height: 100%;
}

.contenu {
    margin-top: 100px;
    height: 100%;
}

.bienvenue {
    margin-top: 10px;
    display: flex; /* Active le mode flex */
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement (facultatif si vous voulez l'image au centre de la section) */
    text-align: center; /* Centre le texte */
    

    .image-style {
        border-radius: 15px; /* Arrondit les coins */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ajoute une ombre */
        width: 55%;
    }
}

main {
    padding: 0;
    margin-top: 0;
}